<ion-view view-title="Cart">
  <ion-content>
    <ion-list>
      <ion-item class="item item-avatar item-remove-animate item-icon-left" ng-repeat="product in cart.products" type="item-text-wrap">
        <img ng-src="{{product.image}}">
        <span class="cart-item-text">{{product.name}}</span>
        <span class="item-note">{{product.price}}</span>


        <ion-option-button class="button-assertive" ng-click="cart.remove(product)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar ng-hide="cart.products.length === 0" align-title="left" class="bar-dark total">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1 class="title">Total</h1>
      </div>
      <div class="col">
        <span class="total number">{{cart.total | currency}}</span>
        <div class="buttons" ng-click="doSomething()">
          <button class="button checkout">Checkout</button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
