<ion-view view-title="Cart">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in cart.products" type="item-text-wrap" href="#/tab/products/{{product.id}}">
        <img ng-src="http://localhost:3000/{{product.master.images[0].mini_url}}">
        <img ng-src="{{product.image}}">
        <h2>{{product.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(product)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
