<ion-view view-title="Account">
  <ion-content>
    <form novalidate class="simple-form">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" name="email" placeholder="Email Address">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" name="password" placeholder="Password">
        </label>
        <input type="submit" ng-click="login()" value="Login" />
      </div>
    </form>
  </ion-content>
</ion-view>
